extends layout

block content

    #tiltLR
        | nodata

    #tiltFB
        | nodata

    #direction
        | nodata

    #compassH
        | nodata


    //-camera test
    video#video(width="640" height="480" autoplay)

    canvas#canvas(width="640" height="480")


    script.
        /**initialize the background size**/
        window.onload = function(){
            //setup the canvas 
            setupCanvas();

            //start streaming service
            startStream();
        };

        function setupCanvas(){
            var canvas = document.getElementById('canvas');
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
        }

        function startStream(){
            var video = document.getElementById('video');

            //-request access to camera
            if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                });
            }
        }

        function deviceOrientationListener(event){
            /**alpha z axis, beta x axis, gamma y axis*/
            var curralpha = Math.round(event.alpha);
            var currbeta  = Math.round(event.beta);
            var currgamma = Math.round(event.gamma);

            document.getElementById('tiltLR').innerHTML = curralpha;
            document.getElementById('tiltFB').innerHTML = currbeta;
            document.getElementById('direction').innerHTML = currgamma;
        }

        if(window.DeviceOrientationEvent){
            window.addEventListener("deviceorientation", deviceOrientationListener);
        }else{
            alert("error not supported");
        }
