extends layout

block content

    //- #tiltLR
    //-     | nodata

    //- #tiltFB
    //-     | nodata

    //- #direction
    //-     | nodata

    //- #compassH
    //-     | nodata


    //-overlay
    .drawing-overlay
        .display-info-container
            .uk-card.uk-card-body
                | Location: #{location}

    //-camera
    .video-container
        video#video(width="100%" height="100%" autoplay)

    canvas#canvas(width="800" height="480")


    script.
        /**initialize the background size**/
        window.onload = setup();
        
        function setup(){
            //setup the canvas 
            setupCanvas();

            //start streaming service
            startStream();
        };

        function setupCanvas(){
            var canvas = document.getElementById('canvas');
            var video = document.getElementById('video');
            divWidth = window.innerWidth;
            divHeight = window.innerHeight;

            console.log(divWidth, divHeight)

            canvas.style.width, video.style.width = divWidth;
            canvas.style.height, video.style.height = divHeight;

            console.log(canvas.style.width, canvas.style.height)
        }

        function startStream(){
            getStream ('video');
        }

        function getUserMedia(options, successCallback, failureCallback) {
            var api = navigator.getUserMedia || navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia || navigator.msGetUserMedia;
            if (api) {
                return api.bind(navigator)(options, successCallback, failureCallback);
            }
        }

        function getStream (type) {
            if (!navigator.getUserMedia && !navigator.webkitGetUserMedia &&
                !navigator.mozGetUserMedia && !navigator.msGetUserMedia) {
                alert('');
                return;
            }

            var constraints = {};
            constraints[type] = true;
            getUserMedia(constraints, function (stream) {
                var mediaControl = document.querySelector(type);
                
                if ('srcObject' in mediaControl) {
                mediaControl.srcObject = stream;
                mediaControl.src = (window.URL || window.webkitURL).createObjectURL(stream);
                } else if (navigator.mozGetUserMedia) {
                mediaControl.mozSrcObject = stream;
                }
            }, function (err) {
                alert('Error: ' + err);
            });
        }

        function deviceOrientationListener(event){
            /**alpha z axis, beta x axis, gamma y axis*/
            var curralpha = Math.round(event.alpha);
            var currbeta  = Math.round(event.beta);
            var currgamma = Math.round(event.gamma);

            //- document.getElementById('tiltLR').innerHTML = curralpha;
            //- document.getElementById('tiltFB').innerHTML = currbeta;
            //- document.getElementById('direction').innerHTML = currgamma;
        }

        if(window.DeviceOrientationEvent){
            window.addEventListener("deviceorientation", deviceOrientationListener);
        }else{
            alert("error not supported");
        }