extends layout

block content

    //-overlay
    //-.drawing-overlay
    .display-info-container
        .uk-card.uk-card-body
            #location
            #place

            #tiltLR
                | nodata

            #tiltFB
                | nodata

            #direction
                | nodata

            #compassH
                | nodata

    //-camera
    .video-container
        video#video(width="100%" height="100%" autoplay)

    canvas#canvas(width="800" height="480")


    script.
        var location_txt = document.getElementById('location');

        /**initialize the background size**/
        window.onload = setup();
        

        function setup(){
            var orientation = {
                alpha: 0,
                beta : 0,
                gamma: 0
            }

            //start streaming service
            startStream();

            //get device orientation
            deviceOrient(function(req1){
                console.log(req1);
                //getLocation
                getDeviceLoc(function(req2){
                    console.log()
                    var latt = req2.coords.latitude;
                    var long = req2.coords.longitude;

                    var reqURL = `https://travismadill.stdlib.com/mapsproc@dev/?lat=${latt}&lng=${long}&heading=${orientation.alpha}`;

                    //- //request data
                    requestData(reqURL);
                });
            });
        };

        function startStream(){
            getStream ('video');
        }

        function getUserMedia(options, successCallback, failureCallback) {
            var api = navigator.getUserMedia || navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia || navigator.msGetUserMedia;
            if (api) {
                return api.bind(navigator)(options, successCallback, failureCallback);
            }
        }

        function getStream (type) {
            if (!navigator.getUserMedia && !navigator.webkitGetUserMedia &&
                !navigator.mozGetUserMedia && !navigator.msGetUserMedia) {
                return;
            }

            var constraints = {};
            constraints[type] = true;
            getUserMedia(constraints, function (stream) {
                var mediaControl = document.querySelector(type);
                
                if ('srcObject' in mediaControl) {
                mediaControl.srcObject = stream;
                mediaControl.src = (window.URL || window.webkitURL).createObjectURL(stream);
                } else if (navigator.mozGetUserMedia) {
                mediaControl.mozSrcObject = stream;
                }
            }, function (err) {
                alert('Error: ' + err);
            });
        }

        /**Get the device orientation*/
        function deviceOrientationListener(event){
            /**alpha z axis, beta x axis, gamma y axis*/
            var curralpha = Math.round(event.alpha);
            var currbeta  = Math.round(event.beta);
            var currgamma = Math.round(event.gamma);

            document.getElementById('tiltLR').innerHTML = curralpha;
            document.getElementById('tiltFB').innerHTML = currbeta;
            document.getElementById('direction').innerHTML = currgamma;

            orientation = {
                alpha: curralpha,
                beta : currbeta,
                gamma: currgamma
            }
        }

        function deviceOrient(callback){
            if(window.DeviceOrientationEvent){
                window.addEventListener("deviceorientation", deviceOrientationListener);
                callback();
            }else{
                alert('Device not support for device orientation');
            }
        }

        /**Get the geolocation */
        function getCoordinates(location){
            var latt = location.coords.latitude
            var long= location.coords.longitude;

            console.log('Lat: '+latt+', Long: '+long);
            
            location = {
                long : long,
                latt : latt
            }
        }

        function getDeviceLoc(callback){
            if('geolocation' in navigator){
                navigator.geolocation.getCurrentPosition(function(location){
                    getCoordinates(location);
                    callback(location);
                })
            }else{
                alert('Geolocation not supported');
            }
        }

        function requestData(reqURL){

            /**Request the location data through stdlib API */
            var requestLocData = function(){
                this.get = function(URL, callback){
                    var request = new XMLHttpRequest();
                    request.onreadystatechange = function(){
                        if(request.readyState == 4 && request.status == 200){
                            //console.log(request.responseText);
                            callback(request.responseText);
                        }
                    }

                    request.open("GET", URL, true);
                    request.send(null);
                }
            }

            //request the data
            var locData = new requestLocData();
            locData.get(reqURL, function(res){
                var data = JSON.parse(res);
                console.log(data.result)

                location_txt.innerHTML = "Location: "+data.result.formatted_address;
            });
        }


       