extends layout

block content
    h1= title
    p Welcome to #{title}

     #tiltLR
        | nodata

    #tiltFB
        | nodata

    #direction
        | nodata


    //-camera test
    video#video(width="640" height="480" autoplay)

    canvas#canvas(width="640" height="480")


    script.

        function deviceOrientationListener(event){
            document.getElementById('tiltLR').innerHTML = Math.round(event.alpha);
            document.getElementById('tiltFB').innerHTML = Math.round(event.beta);
            document.getElementById('direction').innerHTML = Math.round(event.gamma);
        }

        if(window.DeviceOrientationEvent){
            window.addEventListener("deviceorientation", deviceOrientationListener);
        }else{
            alert("error not supported");
        }


        var video = document.getElementById('video');

        // Get access to the camera!
        if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Not adding `{ audio: true }` since we only want video now
            navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                video.src = window.URL.createObjectURL(stream);
                video.play();
            });
        }
