extends layout

block content
  h1= title
  p Welcome to #{title}

  #tiltLR
    | nodata

  #tiltFB
    | nodata

  #direction
    | nodata


  script.

    function deviceOrientationListener(event){
        document.getElementById('tiltLR').innerHTML = Math.round(event.alpha);
        document.getElementById('tiltFB').innerHTML = Math.round(event.beta);
        document.getElementById('direction').innerHTML = Math.round(event.gamma);
    }

    if(window.DeviceOrientationEvent){
        window.addEventListener("deviceorientation", deviceOrientationListener);
    }else{
        alert("error not supported");
    }