doctype html
html
    head
        title= title
        meta(name='viewport' content='width=device, height=device, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/uikit/css/uikit.min.css')

        script(src='/js/jquery.min.js')
        script(src='/uikit/js/uikit.min.js')
        script(src='/js/webcam.min.js')
    body
        block content
