doctype html
html
    head
        title= title
        meta(name='viewport' content='width=device, height=device, initial-scale=1, user-scalable=no')
        meta(http-equiv="pragma" content="no-cache")
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/uikit/css/uikit.min.css')

        link(rel='icon' type='image/x-icon' href='/assets/geotutor.ico')
        link(rel='shortcut icon' type='image/x-icon' href='/assets/geotutor.ico')

        script(src='/js/jquery.min.js')
        script(src='/uikit/js/uikit.min.js')
        script(src='/js/webcam.min.js')
    body
        block content
